@tailwind base;
@tailwind components;
@tailwind utilities;

.letterspacing{
    letter-spacing: 10px;
}
.active{
    color: #FB7902;
}
.bgcolor{
    background: linear-gradient(to top,#FB7902,#a09f9f);
    backdrop-filter: blur(55px);   
}
@media only screen and (max-width:1024px){
    .letterspacing{
        letter-spacing: 7px;
    }
}
.ourstoryp{
    line-height: 30px;
}
